Doubtful Question: 
a> TermTestIIRecToPol.cpp
b> pure polymorphism
c> lsp illustration via code
d> operator overloading
e> Dynamic casting
f> constant casting
g> Reinterpret casting

Topic to read
a> this pointer


feet&inchesToMeter.cpp
17spring3b.cpp
.gitignore